body {
	font-family: "Comfortaa", cursive;
	text-align: center;
	overflow: hidden;
}

h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 3rem;
	margin: 5rem 0 0;
}

h2 {
	font-size: 1.35rem;
	font-weight: bolder;
	margin: 0 40px;
	color: #fff;
}

.container {
	display: grid;
	margin: 30px auto 20px;
	text-align: center;
	width: 500px;
}

.timers-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 100px;
	background-color: #6d071b;
	color: #fff;
	padding-top: 20px;
	border-radius: 7px 7px 0 0;
	margin-bottom: 20px;
}

.session-contents,
.break-contents {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.session-set,
.break-set {
	margin: 20px 50px;
	font-size: 2rem;
	font-weight: bold;
	color: #EDF060;
}

.main-timer-container {
	width: 500px;
	height: 225px;
	background-color: #6d071b;
	border-radius: 0 0 7px 7px;
	margin-top: 20px;
	padding: 5px 0;
	color: #fff;
}

.main-timer-heading {
	font-size: 2rem;
	font-weight: bolder;
	text-align: center;
	margin-top: 20px;
}

.timer-display {
	font-size: 5rem;
	font-weight: bolder;
	text-align: center;
	margin: 5px auto;
	color: #EDF060;
}

.controls {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}
.btns {
	margin: 0 10px;
}

/* Footer */
footer {
  margin-top: 10rem;
}

a:hover{
  cursor: pointer;
}

.logo {
  color: #000;
  margin: 0 5px;
}
